@page "/admin/courses"
@rendermode InteractiveServer
@using Azure.Search.Documents.Indexes
@using Microsoft.AspNetCore.Components.QuickGrid
@inject BlazorChat.Infra.CourseDbContext DB
@using BlazorChat.Models
@using Azure;

<PageTitle>Index</PageTitle>

<h1 class="text-4xl font-extrabold text-gray-900 tracking-tight mt-4 mb-6 text-center sm:text-5xl md:text-6xl">
    Course Overview
</h1>

<div class="flex justify-between">
    <p>
        <a class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-110" href="admin/courses/create">Create New</a>
    </p>

    <button class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-110" @onclick="SyncDbWithAzureAISearch">Sync Database with Azure AI Search</button>
</div>


<QuickGrid Class="min-w-full divide-y divide-gray-200" Items="DB.Courses">
    <PropertyColumn Property="course => course.CourseTitle" Class="px-6 py-4 text-sm font-medium text-gray-900" />
    <PropertyColumn Property="course => course.NumberOfDays" Title="Days" Class="px-6 py-4 whitespace-nowrap text-sm text-gray-500" />
    <PropertyColumn Property="course => course.HtmlFileName" Class="px-6 py-4 text-sm text-gray-500" />
    <PropertyColumn Property="course => course.LearningGoals" Class="px-6 py-4 text-sm text-gray-500" />
    <PropertyColumn Property="course => course.TargetAudience" Class="px-6 py-4 text-sm text-gray-500" />
    <PropertyColumn Property="course => course.RecommendationInfo" Class="px-6 py-4 text-sm text-gray-500" />

    <TemplateColumn Context="course" Class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
        <a href="@($"admin/courses/edit?coursetitleslug={course.CourseTitleSlug}")" class="text-indigo-600 hover:text-indigo-900">Edit</a>
        <span class="text-gray-300 mx-1">|</span>
        <a href="@($"admin/courses/details?coursetitleslug={course.CourseTitleSlug}")" class="text-indigo-600 hover:text-indigo-900">Details</a>
        <span class="text-gray-300 mx-1">|</span>
        <a href="@($"admin/courses/delete?coursetitleslug={course.CourseTitleSlug}")" class="text-indigo-600 hover:text-indigo-900">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    [Inject]
    public IConfiguration Configuration { get; set; }
    private async Task SyncDbWithAzureAISearch()
    {
        SearchIndexerClient searchIndexerClient = new SearchIndexerClient(new Uri(Configuration["AzureAISearch:endpoint"]!), new AzureKeyCredential(Configuration["AzureAISearch:credential:key"]!));
        Response response = await searchIndexerClient.RunIndexerAsync("course-indexer");
        if (response.IsError)
        {
            
        }
    }
}