@using BlazorChat.Components.Shared
@inherits LayoutComponentBase


<NavMenu />
<main>
    <div class="relative min-h-screen bg-gray-100">
        <!-- Content -->
        <div class="p-4">
            @Body
        </div>
        <!-- Chat Component -->
        <Chat />
    </div>
</main>
