@page "/"
@rendermode InteractiveServer
@using Azure
@using BlazorChat.Components.Shared
@using BlazorChat.Models
@using BlazorChat.Services
@using Markdig
@using Microsoft.SemanticKernel.ChatCompletion;
@inject IConfiguration _configuration
@inject IJSRuntime _jsRuntime

<PageTitle>Home</PageTitle>
<div class="container mx-auto prose lg:prose-xl">
    <h1>Welcome to U2U!</h1>
    <div></div>
</div>

<section class="container mx-auto p-6">
    <h2 class="text-3xl font-bold mb-2 text-gray-800">IN THE SPOTLIGHT</h2>
    <div class="grid md:grid-cols-2 gap-4 mt-4">
        <!-- First Course -->
        <div class="bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl p-5">
            <h4 class="text-xl text-blue-600 font-bold mb-3">U2U Invites You: The Future of Blazor and AI Development</h4>
            <p class="mb-5">
                Join us on Thursday, April 18th, 2024, at the U2U training center for an evening featuring two insightful sessions.
            </p>
            <ul class="list-disc list-inside">
                <li>Full Stack Web UI with Blazor in .NET 8 - Peter Himshoot</li>
                <li>AI-Driven Apps with Semantic Kernel - Stijn Castelyns</li>
            </ul>
            <a href="#" class="text-blue-500 hover:text-blue-600 mt-4 inline-block">More info</a>
        </div>

        <!-- Second Course -->
        <div class="bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl p-5">
            <h4 class="text-xl text-blue-600 font-bold mb-3">Microsoft Graph PowerShell</h4>
            <p class="mb-5">
                Attend this 2-day intensive training and dive into the powerful capabilities of Microsoft Graph PowerShell, designed to streamline and automate administrative tasks within the Microsoft 365 ecosystem.
            </p>
            <a href="#" class="text-blue-500 hover:text-blue-600 mt-4 inline-block">More info</a>
        </div>
    </div>

    <div class="grid md:grid-cols-2 gap-4 mt-8">
        <!-- Third Course -->
        <div class="bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl p-5">
            <h4 class="text-xl text-blue-600 font-bold mb-3">Data Engineering with Microsoft Fabric</h4>
            <p class="mb-5">
                Microsoft Fabric brings together the best of Power BI, Azure Synapse Analytics, and Azure Data Factory into a single platform. This 5-day course covers these various Microsoft Fabric services, including Data Factory, Synapse Data Engineering, Synapse Data Warehouse, Synapse Real-time Analytics, and Onelake.
            </p>
            <a href="#" class="text-blue-500 hover:text-blue-600 mt-4 inline-block">More info</a>
        </div>

        <!-- Fourth Course -->
        <div class="bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl p-5">
            <h4 class="text-xl text-blue-600 font-bold mb-3">Developing AI-Powered Apps with Azure AI Services</h4>
            <p class="mb-5">
                Learn all about the Azure AI Services, bringing AI at the fingertips of any software developer without having to be a data scientist, in this 3-day course targeted at .NET Developers.
            </p>
            <a href="#" class="text-blue-500 hover:text-blue-600 mt-4 inline-block">More info</a>
        </div>
    </div>
</section>